@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css');

* {
  box-sizing: border-box;
}

body,
h1 {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

input:focus,
button:focus {
  outline: none;
}

p {
  margin: 0;
  padding: 0;
}


